@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Wisdom Script Regular'), url('../fonts/Wisdom\ Script\ AJ.woff') format('woff');
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v13-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v13-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v13-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Black'), local('Montserrat-Black'),
         url('../fonts/montserrat-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v13-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v13-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }


@font-face {
	font-family: 'Droid Serif';
	src: url('DroidSerif-Bold.eot');
	src: local('Droid Serif Bold'), local('DroidSerif-Bold'),
		url('DroidSerif-Bold.eot?#iefix') format('embedded-opentype'),
		url('DroidSerif-Bold.woff') format('woff'),
		url('DroidSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('DroidSerif-BoldItalic.eot');
	src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'),
		url('DroidSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('DroidSerif-BoldItalic.woff') format('woff'),
		url('DroidSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('DroidSerif-Italic.eot');
	src: local('Droid Serif Italic'), local('DroidSerif-Italic'),
		url('DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
		url('DroidSerif-Italic.woff') format('woff'),
		url('DroidSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('DroidSerif.eot');
	src: local('Droid Serif'), local('DroidSerif'),
		url('DroidSerif.eot?#iefix') format('embedded-opentype'),
		url('DroidSerif.woff') format('woff'),
		url('DroidSerif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab-v8-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

:root{
    --def_font: 'Montserrat';
    --def_font_size: 14px;
    --def_focus_color:#fed136;
    --def_back_color: #777777;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.page_header{
    margin-bottom: 120px;
}

.page_nav{
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: flex-end;
}


.logo{
    font-family: 'Wisdom Script Regular';
    
    line-height: 41px;
    font-size: 26px;
    text-decoration: none;
    color: var(--def_focus_color);
    
}

.main{
    display: flex;
    justify-content: space-between;  
    list-style: none;
    width: 485px;
}

.menu_link{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-family: var(--def_font);
    font-size: var(--def_font_size);
    transition-property: color;
    transition-duration: 0.3s;
}

.menu_link:hover,
.menu_link:focus{
    transition-property: color;
    color: var(--def_focus_color);
}

/* first_section */

.first_section{
    text-align: center;
}

.tittle{
    font-family: var(--def_font);
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
}

.lorem_tittle{
    font-family: 'Droid Serif';
    font-style: italic;
    font-size: 16px;
    margin-bottom: 75px;
    color: var(--def_back_color);

}

.service{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.service_item{
    width: 291px;  
    margin-bottom: 120px;    
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.service_item:hover,
.service_item:focus{
    transition-property: box-shadow;
    box-shadow: 1px 1px 3px var(--def_focus_color);
}


.service_item::before{
    display: inline-block;
    text-align: center;
    content: '';
    height: 75px;
    width: 75px;
    border: 2px solid var(--def_focus_color);
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.icon01::before{
    background-image: url(../img/icon01.png);
}

.icon02::before{
    background-image: url(../img/icon02.png);
}

.icon03::before{
    background-image: url(../img/icon03.png);
}


.ser_name{
    font-family: var(--def_font);
    font-size: 18px;
    line-height: 75px;

}

.ser_lorem{
    font-family: 'Roboto Slab';
    font-size: var(--def_font_size);
    color: var(--def_back_color);

}


.second_section{
    text-align: center;
    background-color: #222222;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
}

.second_tittle{
    padding-top: 110px;
    font-family: var(--def_font);
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;

}


.form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.form_wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input{
    width: 455px;
    height: 50px;
    border-radius: 3px;
}

textarea{
    width: 455px;
    height: 215px;
    border-radius: 3px;
}

.form button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 115px;
    width: 240px;
    height: 65px;
    background-color: var(--def_focus_color);
    border-radius: 3px;
    border-style: none;
    color: #ffffff;
    font-weight: bold;
    font-family: var(--def_font);
    font-size: 18px;
    text-transform: uppercase;

}

input:focus:valid {
    border: 3px solid #00ff00;
}

input:focus:invalid {
    border: 3px solid #ff0000;
}

textarea:focus:valid {
    border: 3px solid #00ff00;
}

textarea:focus:invalid {
    border: 3px solid #ff0000;
}

.inputs__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}




::placeholder{
    text-transform: uppercase;
    font-family: var(--def_font);
    font-size: var(--def_font_size);
    color: #bbbbbb;
    font-weight: bold;  
    padding: 18px;

}