.section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.section_title {
  @include flex('cw');
  align-items: center;

  &__comment {
    font-family: 'Kaushan Script';
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
  }

  &__main {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
    text-align: center;

    &__icon {
      width: 33px;
      height: 33px;
      fill: $color_green;
      position: absolute;
      top: 25%;
    }

    &::after {
      content: '';
      width: 60px;
      height: 3px;
      background: $color_red;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.services_list {
  @include flex_sb('cc');
  list-style: none;
  flex-flow: row wrap;

  &__icon {
    width: 33px;
    height: 33px;
    fill: $color_green;
    position: absolute;
    top: 25%;
  }

  &__item {
    width: 325px;
    position: relative;
    @include flex('rw');

    &:nth-child(-n + 3) {
      margin-bottom: 100px;
    }

    &:hover,
    &:focus {
      box-shadow: 3px 3px 5px #000000;
      transition: 0.3s ease-in-out;
    }
  }

  &__icon {
    width: 33px;
    height: 33px;
    fill: $color_green;
    position: absolute;
    top: 25%;
  }

  &__title {
    padding-left: 60px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__lorem {
    padding-left: 60px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: $color_grey;
  }
}
